body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #D7962b;
}

section {
    margin: 0;
    padding: 0;
}


#header {
    background-color: #D7962b;
    height: 120px;
}

h1 {
    color: #3d1709;
    margin: 0;
    position: relative;
    left: 24px;
    top: 24px;
    font-size: 2em;
}

h2 {
    color: #3d1709;
    margin-bottom: 20px;
    position: relative;
    left: 24px;
    top: 30px;
}

form {
    position: fixed;
    top: 150px;
    left: 200px;
    z-index: 2;
    margin: 16px;
    padding-left: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    border: solid 2px;
    border-radius: 16px;
    color: #Dda64d;
    width: 35%;
    height: 500px;
}

#containerForm {
    position: fixed;
    top: 150px;
    left: 200px;
    z-index: 1;
    margin: 16px;
    padding: 16px;
    border: solid 2px;
    color: #Dda64d;
    border-radius: 16px;
    width: 35%;
    height: 500px;
    background-color: #891f05;
    opacity: 75%;
}

#headerBestellung{
    position: absolute;
    top: 1em;
    left: 2em;
}

#headerPreis{
    position: absolute;
    top: 1em;
    right: 2em;
}

.menue{
    position: absolute;
    left: 2.5em;
}

#maincourse, #priceMaincourse{
    position: absolute;
    top: 4em;
    font-weight: bold;
    font-size: 1em;
}

#priceMaincourse{
    position: absolute;
    right: 2.5em;
}

#labelAnzahlMaincourse{
    position: absolute;
    left: 2.5em;
    top: 6.5em;
}

#anzahlMaincourse{
    position: absolute;
    top: 7.5em;
    left: 16em;
}

#labelDrink{
    position: absolute;
    top: 8.75em;
    font-weight: bold;
    font-size: 1em;
}

#drink{
    position: absolute;
    top: 12.25em;
    left: 3em;
}

#priceDrinks{
    position: absolute;
    top: 8em;
    right: 2.5em;
    font-weight: bold;
    font-size: 1em;
}

#anzahlDrinks{
    position: absolute;
    top: 13.5em;
    left: 16em;
}

#labelAnzahlDrinks{
    position: absolute;
    top: 11.5em;
    left: 2.5em;
}

#sides{
    position: absolute;
    top: 12.5em;
    left: 2.5em;
    font-weight: bold;
    font-size: 1em;
}

#priceSalad, #priceFries{
    position: absolute;
    right: 2.5em;
    font-weight: bold;
    font-size: 1em;
}

#priceFries{
    position: absolute;
    top: 14.0em;
}

#priceSalad{
    position: absolute;
    top: 15.2em;
}

#labelFries{
    position: absolute;
    top: 15em;
    left: 2.5em;
}

#labelSalad{
    position: absolute;
    top: 16em;
    left: 2.5em;
}

#fries{
    position: absolute;
    top: 18em;
    left: 8em;
}

#salad{
    position: absolute;
    top: 19.2em;
    left: 8em;
}

#discountPointer{
    position: absolute;
    bottom: 5em;
}

#labelAnzahlSides{
    position: absolute;
    top: 19em;
    left: 2.5em;
}

#anzahlSides{
    position: absolute;
    top: 22.5em;
    left: 16em;
}


.Bestellmengenfeld{
    width: 40px;
    position: absolute;
    left: 200px;
}

.bestellen {
    position: absolute;
    left: 32px;
    bottom: 16px;
    z-index: 3;
    align-self: center;
    background-color: #646e21;
    /*border-radius: 15px 225px 255px 15px;*/
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #Dda64d;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 1rem;
    line-height: 23px;
    padding: .75rem;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    /*Quelle: https://getcssscan.com/css-buttons-examples (Button #55)*/
}


.bestellen:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    /*Quelle: https://getcssscan.com/css-buttons-examples (Button #55)*/
}

.bestellen:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    /*Quelle: https://getcssscan.com/css-buttons-examples (Button #55)*/
}

#HeadlineBestelluebersicht{
    position: relative;
    top: 24px;
}

#containerReceipt{
    margin-left: 32px;
    margin-top: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
}

#containerFehlermeldung{
    margin-left: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 24px;
    font-size: large;
    color: darkred;
}

footer {
    height: 50px;
    background-color: #D7962b;
    color: #3d1709;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 8px;
    position: relative;
    bottom: 0;
}

#footer-text {
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
